In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
def crawl(url):
    headers={
        "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
    }

    response =requests.get(url,headers=headers)
    soup=BeautifulSoup(response.text,'html.parser')

    product=[]
    price=[]
    ratings=[]

    p_name=soup.find_all('span',class_="a-size-medium a-color-base a-text-normal")
    p_price=soup.find_all('span',class_="a-price-whole")
    p_rating=soup.find_all('span',class_="a-size-base s-underline-text")

    for i in p_name:
        product.append(i.text)

    for i in p_price:
        price.append(i.text)

    for i in p_rating:
        ratings.append(i.text)

    min_len=min(len(product),len(price),len(ratings))
    product=product[:min_len]
    price=price[:min_len]
    ratings=ratings[:min_len]

    df=pd.DataFrame({'Product':product,'Price':price,'Ratings':ratings,})
    return df

In [3]:
df=crawl("https://www.amazon.in/s?k=mobile+phones+under+15000&crid=2XATADS7OZOX4&sprefix=mobile+phones+under+%2Caps%2C208&ref=nb_sb_ss_ts-doa-p_2_20")

In [4]:
df

                                              Product   Price Ratings
0   Samsung Galaxy M35 5G (Daybreak Blue,6GB RAM,1...  18,999   4,572
1   Samsung Galaxy M05 (Mint Green, 4GB RAM, 64 GB...   7,999     717
2   realme NARZO N65 5G (Deep Green 6GB RAM, 128GB...  12,498   1,494
3   Samsung Galaxy M15 5G Prime Edition (Blue Topa...  14,999     608
4   realme NARZO 70x 5G (Ice Blue, 6GB RAM,128GB S...  12,998   3,388
5   Redmi 13 5G, Orchid Pink, 6GB+128GB | India De...  12,999   2,172
6   Redmi 13C 5G (Starlight Black, 4GB RAM, 128GB ...   9,199   9,995
7   iQOO Z9x 5G (Tornado Green, 6GB RAM, 128GB Sto...  13,999   4,439
8   iQOO Z9 Lite 5G (Mocha Brown, 6GB RAM, 128GB S...  11,498   1,953
9   Redmi 13C 5G (Startrail Green, 4GB RAM, 128GB ...   9,199   9,995
10  Redmi 13 5G, Orchid Pink, 6GB+128GB | India De...  12,999   2,172
11  Samsung Galaxy S23 Ultra 5G AI Smartphone (Gre...  79,999   2,449
12  Nokia G42 5G | Snapdragon® 480+ 5G | 50MP Trip...  11,499   5,428
13  iQOO Z9x 5G (Storm Grey, 6GB RAM, 128GB Storag...  13,999   4,439
14  Samsung Galaxy F15 5G (Ash Black, 6GB RAM, 128...  13,993     107
15  realme NARZO 70x 5G (Ice Blue, 8GB RAM,128GB S...  13,999   3,388
16  realme 12X 5G (Woodland Green, 8GB RAM, 128GB ...  12,655      93
17  realme NARZO N65 5G (Deep Green 4GB RAM, 128GB...  11,498   1,494
18  Samsung Galaxy M05 (Mint Green, 4GB RAM, 64 GB...   7,999     717
19  Samsung Galaxy M14 5G (Smoky Teal,6GB,128GB)|5...  10,999   7,138
20  Samsung Galaxy M15 5G Prime Edition (Stone Gre...  14,999     608
21  IKALL K333 Touch & Type 4G Phone with 2GB RAM,...   2,875     234

In [5]:
df.to_csv('amazon_1.csv')

In [6]:
#for image crawler

In [7]:
def image_crawler(url):
    head = {
        "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"}
    response = requests.get(url,headers = head)
    soup = BeautifulSoup(response.text,'html.parser')

    image = []
    im_data = soup.find_all('img',class_="s-image")

    for i in im_data:
        image.append(i.get('src'))
    return image

In [8]:
img=image_crawler("https://www.amazon.in/s?k=mobile+phones+under+15000&crid=2XATADS7OZOX4&sprefix=mobile+phones+under+%2Caps%2C208&ref=nb_sb_ss_ts-doa-p_2_20")

In [9]:
img

['https://m.media-amazon.com/images/I/81oKOk65TgL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81nJiu51M+L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81scQ7qlPuL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71qFJqFePsL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81Q9jpYOFdL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/717sEAdy02L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71w-mmKgIfL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81nMsYgIHdL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/619VJYWIbXL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71oIjjNm+nL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81Q9jpYOFdL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71lD7eGdW-L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/717yx8s4prL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81KFSdWCCEL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61wHkeTOhWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71w-mmKgIfL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61sY8BGOyEL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/717sEAdy02L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81dl4dQY3BL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/718RrecpkVL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81T3olLXpUL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51ePjiVREFL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61UCO92a1qL._AC_UL640_QL65_.jpg',
 'https://m.media-amazon.com/images/I/61UCO92a1qL._AC_UL640_QL65_.jpg']

In [13]:
import os
os.makedirs('amazon',exist_ok=True)

In [14]:
i=0
for j in img:
    try:
        resp=requests.get(j)
        with open(f"amazon/{i}.jpg","wb") as f:
            f.write(resp.content)
        i+=1
    except:
        pass

In [15]:
#imdb

In [16]:
def crawler(url):
    head={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36'}
    response=requests.get(url,headers=head)
    soup=BeautifulSoup(response.text,'html.parser')
    name=[]
    watchtime=[]
    rating=[]
    year=[]
    n=soup.find_all('h3',class_='ipc-title__text')
    p=soup.find_all('span',class_='sc-5bc66c50-6 OOdsw dli-title-metadata-item')
    r=soup.find_all('span',class_="ipc-rating-star--rating")
    y=soup.find_all('span',class_='sc-5bc66c50-6 OOdsw dli-title-metadata-item')
    for i in n:
        name.append(i.text)
    for i in p:
        text = i.text.strip()
        if "h" in text or "m" in text:
            watchtime.append(text)
        elif text.isdigit():
            year.append(text)
    for i in r:
        rating.append(i.text)
    for i in y:
        year.append(i.text)
    min_length = min(len(name), len(watchtime), len(rating),len(year))
    name = name[:min_length]
    year = year[:min_length]
    watchtime=watchtime[:min_length]
    rating = rating[:min_length]
    df=pd.DataFrame({'Name':name,'WatchTime':watchtime,'Rating':rating,'Year':year})
    return df

In [17]:
df=crawler('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
df.to_csv('imdb.csv',index=False)

In [18]:
df

                                                 Name WatchTime Rating  Year
0                         1. The Shawshank Redemption    2h 22m    9.3  1994
1                                    2. The Godfather    2h 55m    9.2  1972
2                                  3. The Dark Knight    2h 32m    9.0  2008
3                           4. The Godfather: Part II    3h 22m    9.0  1974
4                                 5. Schindler's List    3h 15m    9.0  1993
5    6. The Lord of the Rings: The Return of the King    3h 21m    9.0  2003
6                                     7. 12 Angry Men    1h 36m    9.0  1957
7   8. The Lord of the Rings: The Fellowship of th...    2h 58m    8.9  2001
8                                     9. Pulp Fiction    2h 34m    8.9  1994
9                                       10. Inception    2h 28m    8.8  2010
10                                     11. Fight Club    2h 19m    8.8  1999
11                                   12. Forrest Gump    2h 22m    8.8  1994
12          13. The Lord of the Rings: The Two Towers    2h 59m    8.8  2002
13                14. Il Buono, Il Brutto, Il Cattivo    2h 41m    8.8  1966
14                                      15. 12th Fail    2h 27m    8.8  2023
15                                   16. Interstellar    2h 49m    8.7  2014
16                                     17. GoodFellas    2h 25m    8.7  1990
17                                     18. The Matrix    2h 16m    8.7  1999
18                19. One Flew Over the Cuckoo's Nest    2h 13m    8.7  1975
19  20. Star Wars: Episode V - The Empire Strikes ...     2h 4m    8.7  1980
20                       21. The Silence of the Lambs    1h 58m    8.6  1991
21                                          22. Se7en     2h 7m    8.6  1995
22                            23. Saving Private Ryan    2h 49m    8.6  1998
23                                 24. The Green Mile     3h 9m    8.6  1999
24            25. Spider-man: Across the Spider-verse    2h 20m    8.6  2023